body {
    margin: 5%;
    padding: 0;
}

button {
    padding: 10px 20px;
    background-color: #4c7faf;
    color: rgb(0, 0, 0);
    border: rgb(25, 7, 189);
    border-radius: 3px;
    cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="date"] {
	width: 150px;
	padding:10px 10px;
	border:1px solid #2e2b2b;
	border-radius:3px;
	background-color:#5f576b;
	margin:8px 0;
	display:inline-block;
}

.ejercicio-7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#cuadro-color {
    width: 100px;
    height: 100px;
    background-color: #000;
}